


html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    sans-serif;
  --mono-font:       monospace;
  --body-font:       sans-serif;
  --navbar-font:     sans-serif;  /* websites + blogs only */
  --bg-col: #fdfdfd;
  --bg-col-rgb: 253, 253, 253;
  --main-col: #003568;
  --main-col-rgb: 0, 53, 104;
  --second-col: #3d755b;
  --second-col-rgb: 61, 117, 91;
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}


/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

button {
	cursor: pointer;
}

d-title h1 {
	margin-left: -10px;
}

d-title h1 a {
	color: var(--second-col);
}

d-title h1 code {
	font-size: 1.25em;
}

d-title > p {
	margin-top: 1em;
}

d-title > * {
	background: #fdfdfdcc;
	max-width: max-content;
	padding: 0 10px;
	border-radius: 5px;
	margin-left: -10px;
}

d-article iframe.vid {
	margin-bottom: 1em;
}

d-article iframe.zoom {
	border: none;
	width: calc(100% + 90px);
	margin-left: -45px;
}

body {
  background: var(--bg-col);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  font-weight: 300;
}

d-article {
	padding-top: 0; /* originally 2.5rem */
	overflow-y: hidden;
}

d-article iframe.viz {
	border: none;
	width: calc(100% + 11px);
	margin: 0 -15px;
}

.centre {
	text-align: center;
}

.bigger {
	font-size: 1.2em;
}

.toc {
	display: block;
	padding-bottom: 1em;
}

.toc-item > a {
	font-weight: bold;
	border-bottom: none;
	color: var(--second-col);
}

.toc-item > a:hover {
	color: var(--main-col);
	border-color: var(--main-col);
}

.toc ul {
	margin-bottom: 5px;
}

.toc li {
	margin: 0;
}

/* former box strong font color #126051 */

#save-progress {
	box-sizing: border-box;
	background: var(--second-col);
	color: #fdfdfd;
	border: solid 3px var(--second-col);
	border-radius: 50%;
	width: 96px;
	height: 94px;
	z-index: -1;
	position: absolute;
	right: -48px;
	cursor: pointer;
	visibility: visible;
	opacity: 1;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform: translateY(-48px);
	-moz-transform: translateY(-48px);
	-ms-transform: translateY(-48px);
	-o-transform: translateY(-48px);
	transform: translateY(-48px);
	-webkit-transition: background-color .5s 0s, opacity 1s 1.5s;
	-moz-transition: background-color .5s 0s, opacity 1s 1.5s;
	-ms-transition: background-color .5s 0s, opacity 1s 1.5s;
	-o-transition: background-color .5s 0s, opacity 1s 1.5s;
	transition: background-color .5s 0s, opacity 1s 1.5s;
}

#save-progress.hide {
	opacity: 0;
	visibility: hidden;
}

#save-progress:hover, #save-progress:focus {
	background: rgba(var(--second-col-rgb), .3);
	color: var(--second-col);
}

#floppy {
	width: 30%;
	height: 30%;
	position: absolute;
	bottom: 16px;
	left: 13px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

#floppy .fa-save {
	position: absolute;
	font-size: 30px;
	backface-visibility: hidden;
}

#floppy .far.fa-save {
	-webkit-transform: translate(1px, 1px);
	-moz-transform: translate(1px, 1px);
	-ms-transform: translate(1px, 1px);
	-o-transform: translate(1px, 1px);
	transform: translate(1px, 1px);
}

#floppy .fas.fa-save {
	-webkit-transform: rotateY(.5turn);
	-moz-transform: rotateY(.5turn);
	-ms-transform: rotateY(.5turn);
	-o-transform: rotateY(.5turn);
	transform: rotateY(.5turn);
}

#save-progress.saving #floppy {
	-webkit-transform: rotateY(.5turn);
	-moz-transform: rotateY(.5turn);
	-ms-transform: rotateY(.5turn);
	-o-transform: rotateY(.5turn);
	transform: rotateY(.5turn);
}

#save-progress #ttip {
	width: 100px;
	padding: 0 5px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	position: absolute;
	right: 95px;
	top: 65px;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity .4s ease-in-out 0s;
	-moz-transition: opacity .4s ease-in-out 0s;
	-ms-transition: opacity .4s ease-in-out 0s;
	-o-transition: opacity .4s ease-in-out 0s;
	transition: opacity .4s ease-in-out 0s;
}

#save-progress:hover #ttip {
	opacity: .7;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-ms-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;
}

#save-progress:focus {
	outline: none;
}

#save-sticky {
	position: sticky;
	top: 0;
	height: 0;
	-webkit-transform: translateY(30vh);
	-moz-transform: translateY(30vh);
	-ms-transform: translateY(30vh);
	-o-transform: translateY(30vh);
	transform: translateY(30vh);
	z-index: 99;
}

#save-msg {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	left: 0;
	right: 0;
	height: 250px;
}

#save-msg__icon {
	position: relative;
	display: block;
	font-size: 250px;
	margin: auto;
	color: var(--second-col);
	opacity: 1;
	-webkit-transition: all 0.7s 0s;
	-moz-transition: all 0.7s 0s;
	-ms-transition: all 0.7s 0s;
	-o-transition: all 0.7s 0s;
	transition: all 0.7s 0s;
}

#save-msg__icon.hide {
	opacity: 0;
	font-size: 30px;
	-webkit-transition: font-size 0.7s .75s, transform 0.7s .75s, opacity .5s 1.5s;
	-moz-transition: font-size 0.7s .75s, transform 0.7s .75s, opacity .5s 1.5s;
	-ms-transition: font-size 0.7s .75s, transform 0.7s .75s, opacity .5s 1.5s;
	-o-transition: font-size 0.7s .75s, transform 0.7s .75s, opacity .5s 1.5s;
	transition: font-size 0.7s .75s, transform 0.7s .75s, opacity .5s 1.5s;
}

#save-msg__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
	-webkit-transition: opacity .5s ease-in-out .6s;
	-moz-transition: opacity .5s ease-in-out .6s;
	-ms-transition: opacity .5s ease-in-out .6s;
	-o-transition: opacity .5s ease-in-out .6s;
	transition: opacity .5s ease-in-out .6s;
	opacity: 1;
}

#save-msg__content.hide {
	opacity: 0;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

#save-msg__text {
    position: relative;
    display: block;
    background: #000c;
    max-width: 450px;
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
    margin: auto;
}

#save-msg__btn {
    font-size: 1.2em;
    background: transparent;
    border: solid 2px white;
    border-radius: 6px;
    color: white;
    padding: 3px 10px;
    margin: .2em;
}

#save-msg__btn:hover {
    background: white;
    color: black;
}

#ttip::before {
	content: "";
	position: absolute;
	top: 10%;
	left: 100%;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent black;
}

d-article {
  padding-top: 2.5rem;
  overflow-x: visible;
  overflow-y: visible;
}

d-title h1 {
	color: var(--second-col);
}

d-article h1, d-article h2, d-article h3, d-article h4, d-article h5, d-article h6, strong {
	color: var(--main-col);
}

code {
	font-size: 1.1em;
}

.d-contents.d-contents-float {
	position: relative;
}

.d-contents.d-contents-float.stuck {
	position: relative;
}

.toc.figcaption {
	line-height: 1.3em;
}

.d-contents nav h3 {
	font-size: var(--heading-size, 18px);
}

.toc.figcaption {
	line-height: 1.3em;
}


nav#TOC li > ul {
	opacity: 1;
	-webkit-transition: max-height 0.4s ease, opacity 0.4s ease;
	-moz-transition: max-height 0.4s ease, opacity 0.4s ease;
	-ms-transition: max-height 0.4s ease, opacity 0.4s ease;
	-o-transition: max-height 0.4s ease, opacity 0.4s ease;
	transition: max-height 0.4s ease, opacity 0.4s ease;
	max-height: 600px;
}

nav#TOC li > ul.collapsed {
	max-height: 0px;
	opacity: 0;
}

.btn.btn-primary.copy-btn {
	position: absolute;
	top: 3px;
	right: 3px;
	margin: 0;
	height: 25px;
	width: 25px;
	padding: 0;
	background: transparent;
	font-size: 1em;
	border: solid 1px var(--main-col);
	border-radius: 3px;
	color: var(--main-col);
	cursor: pointer;
	z-index: -1;
}

.panel {
	margin-top: 0.5em;
}

.panel-tab code {
	display: inline-block;
	margin-bottom: -3px;
	font-size: 1.2em;
	pointer-events: none;
}

.sourceCode.r.copy:hover + button.copy-btn {
	z-index: 1;
}

.sourceCode.r {
	white-space: pre-wrap;
}

.btn.btn-primary.copy-btn:hover {
	background: rgba(var(--second-col-rgb), .1);
	z-index: 1;
}


.btn.btn-primary.copy-btn:active {
	background: var(--main-col);
	color: #fff;
	z-index: 1;
	border-radius: 3px;
	padding: 0;
}

.copy-button {
  width: 7em;
}
 

.copy-button:hover {
	color: var(--second-col);
	background-color: rgba(var(--second-col-rgb), .1);
	border-color: var(--second-col);
	border-bottom: solid 1px transparent;
}

.copy-button:active:focus:hover {
	color: var(--second-col);
	background-color: rgba(var(--second-col-rgb), .2);
	border-bottom: solid 1px transparent;
}


d-article li, d-article li ul {
	margin-bottom: 0;
}

d-article pre {
	border-radius: 0;
	border-color: var(--second-col);
	padding: 0 1em;
}

d-article .sourceCode pre {	
	background: #fff;
}

d-article div.sourceCode {
	position:relative;
	padding: 4px 0 2px 0;
}

d-article div.sourceCode pre {
	border-left: none;
	min-height: 24px;
}

.box, .extra, .quiz {
	background: #e3e1dd;
	padding: 1em 1em 0 1em;
	margin: 1em 0 3em 0;
	color: #3e2d05;
}


.important {
	text-align: center;
	font-weight: 600;
	font-size: 1.2em;
	background: #e3e1dd;
	padding: 0 .5em;
	margin: 1em 0 3em 0;
	color: var(--second-col);
	border: solid 1px var(--second-col);
}

.important p {
	margin: .5em 0;
}

.important strong {
	font-weight: 700;
}

.quiz {
	border: solid 1px var(--main-col);
	padding-bottom: 1em;
}

.box h1, .box h2, .box h3, .box h4,
.quiz h1, .quiz h2, .quiz h3, .quiz h4,
.warn h1, .warn h2, .warn h3, .warn h4{
	margin-top: 0.5em;
}

.box h1, .box h2, .box h3, .box h4 {
	color: var(--second-col);
}

.quiz h1, .quiz h2, .quiz h3, .quiz h4 {
	color: var(--main-col);
}

.quiz h4 {
	font-size: 0.9em;
}



.box strong, .extra strong,
.r-box strong, .quiz strong {
	color: var(--second-col);
}

.warn {
	color: #bb1a1a;
	border: solid 1px #bb1a1a;
	padding: 1em 1em 0em 1em;
	margin-bottom: 3em;
}

.warn h1, .warn h2, .warn h3, .warn h4,
.warn strong, .extra .warn strong,
.extra .warn em, .box .warn strong,
.box .warn em {
	color: #bb1a1a;
}

img {
	margin: auto;
	display: block;
	max-width: 100%;
}

.dice > p {
	display: flex;
	flex-direction: row;
	width: 60%;
	margin: auto;
}

.dice img {
	margin: 10px;
	background-color: #f2e8d4;
	border-radius: 8px;
	width: 16%;
}

.inline-dice {
	display: inline;
	height: 1.5rem;
	width: 1.5rem;
	margin-bottom: -5px;
	border-radius: 2px;
	background-color: #f2e8d4;
}

.r-box .btn.btn-primary.copy-btn {
	border: solid 1px var(--second-col);
	color: var(--second-col);
}

.r-box .btn.btn-primary.copy-btn:hover {
	background: rgba(var(--second-col-rgb), .1);
}

.r-box .btn.btn-primary.copy-btn:active {
	background: var(--second-col);
}

.extra .warn, .r-box .warn, .box .warn {
	margin: 10px 0;
}

.r-box {
	border: solid 1px var(--second-col);
	background: rgba(var(--second-col-rgb), .1);
	padding: 3px 0 0 0.5em;
}


.r-box.collapsible, .extra.collapsible {
	overflow: hidden;
	margin-top: 1.2em;	
}

.r-box.collapsible {
	max-height: 30px;
	max-width: 110px;
	padding: 3px 0.5em;	
	-webkit-transition: max-height 0.2s ease-out, max-width 0.2s ease-out;
	-moz-transition: max-height 0.2s ease-out, max-width 0.2s ease-out;
	-ms-transition: max-height 0.2s ease-out, max-width 0.2s ease-out;
	-o-transition: max-height 0.2s ease-out, max-width 0.2s ease-out;
	transition: max-height 0.2s ease-out, max-width 0.2s ease-out;
}

.extra.collapsible {
	border: solid 1px transparent;
	padding: 0 0.5em;
	-webkit-transition: max-height 0.2s ease-out, border-radius 0.2s ease-out;
	-moz-transition: max-height 0.2s ease-out, border-radius 0.2s ease-out;
	-ms-transition: max-height 0.2s ease-out, border-radius 0.2s ease-out;
	-o-transition: max-height 0.2s ease-out, border-radius 0.2s ease-out;
	transition: max-height 0.2s ease-out, border-radius 0.2s ease-out;
}

.extra.collapsible:hover, .extra.collapsible.active {
	border-color: var(--second-col);
}

.collapsible > :not(.label) {
	/* display: none; */
}

.collapsible.active > * {
	display: block;
}

.collapsible.active > p:last-child {
	padding-bottom: 1em;
	margin-bottom: 0;
}

.r-box > .label, .extra > .label {
	font-size: 18px;
	padding: 0;
	display: inline-block;
}

.r-box > .label, .extra > .prefix {
	color: var(--second-col);
}

.r-box > .label {
	font-weight: 700;
	margin: 3px 0 15px 0;
}

.extra > .label {
	margin: 8px 0 12px 0;
}

.r-box > .label > code {
	background: none;
	padding: 0;
	font-size: 22px;
}

/*
.r-box .l-body, .extra .l-body {
	background: white;
}
*/

.bg-transparent .l-body {
	background: transparent;
}

.r-box pre {
	border: none;
}

.extra pre {
	border: none;
	border-radius: 1px;
}

.active {
	-webkit-transition: max-height 0.2s ease-out;
	-moz-transition: max-height 0.2s ease-out;
	-ms-transition: max-height 0.2s ease-out;
	-o-transition: max-height 0.2s ease-out;
	transition: max-height 0.2s ease-out;
}

.r-box.collapsible:not(.active):hover {
	background-color: var(--second-col);
}


.r-box:not(.active):hover > .label {
	color: #fff;
}

.extra.collapsible:hover .extra-title, .extra.collapsible.active .extra-title {
	font-weight: 500;
}

.r-box.collapsible.active, .extra.collapsible.active {
	max-width: 100%;
}

.collapsible {
	cursor: pointer;
	outline: none;
	margin-bottom: 1.5em;
}

.r-box .copy-button {
    background-color: var(--second-col);
    border-color: var(--second-col);
}

.r-box .copy-button:hover {
    color: var(--second-col);
    background-color: white;
    border-color: var(--second-col);
}

.r-box .copy-button:active, .r-box .copy-button:focus, .r-box .copy-button:active:focus {
    color: var(--second-col);
    background-color: #00000011;
	border-color: var(--second-col);
}

.extra.collapsible iframe {
	border: none
}


kbd {
	border: solid 1px;
	border-radius: 6px;
	background: #d8d8d8;
	padding: 0 0.2em;
	display: inline-block;
	height: 1.8em;
	text-align: center;
	vertical-align: top;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 0.8em;
	vertical-align: bottom;
}

kbd#play {
	display: inline;
}

d-article aside {
	margin-bottom: 2em;
	background: rgba(var(--bg-col-rgb), .8);
	z-index: 1;
	height: max-content;
}

aside kbd {
	border-radius: 4px;	
}

aside h4 {
	text-transform: none;
	margin-top: 0;
	font-size: 13px;
}

aside li, aside p {
	margin-bottom: 5px;
}

aside ol {
	padding-left: 12px;
}

iframe.app {
	border: none;
}

.answertext {
  line-height: 150%;
  padding-left: .5em;
}

.answer {
  line-height: 150%;
}

.question{
  padding-top: 1em;
}

input.quizSubmit {
	box-shadow: none;
	background-color: transparent;
	color: var(--second-col);
	border: solid 2px var(--second-col);
	font-size: 1em;
	cursor: pointer;
}

input.quizSubmit:hover {
	background: var(--second-col);
	color: #fff;
}

.quiz > section {
	margin: 0;
}

.quiz input.quizSubmit {
	background-color: var(--second-col);
	color: #fff;
	outline: none;
    box-shadow: none;
}

.quiz input.quizSubmit:hover {
	background: var(--main-col);
	border-color: var(--main-col);
}

.quiz .question {
	padding-bottom: 1em;
	border-bottom: solid 1px #8c745433;
}

.quiz .question:last-of-type {
	border-bottom: none;
}

.question .submit {
	display: flex;
	position: relative;
	flex-direction: row;
	height: 1.6em;
}

.quizInput {
	text-align: center;
	font-size: .9em;
	width: 7em;
	margin-right: 1em;
}

.correct, .incorrect {
	display: none;
	padding: 0 1em;
	border-radius: 7px;
	position: absolute;
	right: 0;
}

.corrAns {
	display: none;
}

.correct {
	background: #00bd0047;
	color: #296429;
}

.incorrect {
	background: #ff000042;
	color: #972c2c;
}

.correct.show, .incorrect.show {
	display: initial;
}


/* MCQ quiz questions */

.quiz-wrapper {
	width: 100%;
}

.quiz .question.mcq {
	padding-bottom: 2em;
}

.question.mcq .submit {
	height: max-content;
}

.opts {
	display: flex;
	flex-direction: column;
	height: max-content;
	margin: 0;
	max-width: 100%;
	gap: 5px;
}

.opts input.quizSubmit {
	white-space: break-spaces;
	text-align: initial;
	width: max-content;
	min-width: 2em;
	max-width: 100%;
}

.opts input.quizSubmit:hover {
	background: var(--second-col);
	border-color: var(--main-col);
}

.opts input.quizSubmit.selected, .opts input.quizSubmit.selected:hover {
	border-color: var(--main-col);
	background: var(--main-col);
}

.mcq .correct, .mcq .incorrect {
	bottom: -1.7em;
}

/* initial overlay for class .gif */

.init {
	position: relative;
	cursor: pointer;
}

.init::before {
	content: "Click me";
	position: absolute;
	top: 45%;
	text-align: center;
	background: var(--second-col);
	color: #fff;
	left: 43%;
	/* width: 100%; */
	font-size: 1.5em;
	border-radius: 10px;
	padding: .2em;
    -webkit-animation: pulsate .8s infinite alternate;
    -moz-animation: pulsate .8s infinite alternate;
    -ms-animation: pulsate .8s infinite alternate;
    -animation: pulsate .8s infinite alternate;
}

.init:hover::before {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
	animation: none;
	background-color: var(--main-col);
}

.dice > p {
	display: flex;
	flex-direction: row;
	width: 60%;
	margin: auto;
}

.dice img {
	margin: 10px;
	background-color: #f2e8d4;
	border-radius: 8px;
	width: 16%;
}

.inline-dice {
	display: inline;
	height: 1.5rem;
	width: 1.5rem;
	margin-bottom: -5px;
	border-radius: 2px;
	background-color: #f2e8d4;
}

/*!
 * Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fa,
.fas,
.far {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.fa-copy:before {
  content: "\f0c5"; }


@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-regular-400.eot");
  src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg"); }

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }
  
@-webkit-keyframes pulsate {
    from { -webkit-transform: scale(1); }
    to { -webkit-transform: scale(1.1); }
}

@-moz-keyframes pulsate {
    from { -moz-transform: scale(1); }
    to { -moz-transform: scale(1.1); }
}

@-ms-keyframes pulsate {
    from { -ms-transform: scale(1); }
    to { -ms-transform: scale(1.1); }
}

@-o-keyframes pulsate {
    from { -o-transform: scale(1); }
    to { -o-transform: scale(1.1); }
}

@keyframes pulsate {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

@media (min-width: 1000px) {	
	.d-contents.d-contents-float {
		position: sticky;
		top: 55px;
	}
}
